body {
    font-family: Georgia, serif;
    font-size: 40px;
}
nav {
    font-size: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #72afff;
    margin-bottom: 25px;
    margin-top: 10px;
    border: thin solid #323232;
    box-sizing: border-box;
}
.signupIntro{
    font-size: 20px;
}

form{
    position: relative;
    width: 400px;
    height:125px;
    padding: 40px;
    background: rgba(0,0,0,.3);
    border-radius: 10px;
}
label{
    font-size: 20px;
}

.emailBox{
    position: absolute;
    top: 0%;
}

.stateSelect{
    position:absolute;
    top:33%;
}

.citySelect{
    position:absolute;
    top:66%;
}


a{
    text-decoration: none;
}
.nav-link {
    color: #0003b4;
}
img {
    height: 32px;
    overflow-clip-margin: content-box;
    overflow: clip;
}