html {
    background-color: #2f2f35;
}

body {
    font-family: Georgia, serif;
    font-size: 50px;
}
nav {
    font-size: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #2a86fd;
    margin-bottom: 25px;
    margin-top: 10px;
    border: thin solid #323232;
    box-sizing: border-box;
}
.signupIntro{
    padding-bottom: 20px;
    left: 50%;
    text-align: center;
    font-size: 20px;
    color:lightblue;
}
#emailValid{
    font-weight: 1000;
    margin-left: 68px;
    margin-top:0px;
    font-size: 15px;
    position: relative;
}

form{
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    width: 400px;
    height:300px;
    padding: 60px;
    background: #2a86fd;
    border-radius: 10px;
}
label{
    font-size: 30px;
}

input{
    font-size: 15px;
}

select{
    font-size: 15px;
}

.emailBox{
    height: 50px;
    position: absolute;
    top: 0%;
}



.stateSelect{
    position:absolute;
    top:20%;
}

.citySelect{
    position:absolute;
    top:40%;
}
.frequency{
    position:absolute;
    top:60%;
}
.submitButton{

    position:absolute;
    top:80%;
    left: 50%;
    transform: translate(-50%, 0%);
}
#submitButton{
    background-color: yellow; /* Green */
    border-color:black;
    border-width: 1px;
    border-radius:10px;
    color: black;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


a{
    text-decoration: none;
}
.nav-link {
    color: #0003b4;
}
#nav-image {
    height: 32px;
    overflow-clip-margin: content-box;
    overflow: clip;
}
h1 {
    color:rgb(251, 255, 0);
    font-size:20px;
}
.p{
    color:rgb(243, 243, 255);
    font-size: 20px;
}
